<%= form_for @driver do |f| %>
    <% attribute_fields = {
      first_name: { label: 'Firstname', placeholder: 'Input firstname...' },
      last_name: { label: 'Lastname', placeholder: 'Input lastname...' },
      wins: { label: 'Wins', placeholder: 'Write your wins...' }
    } %>
  
    <% attribute_fields.each do |attribute, options| %>
      <div class="field">
        <%= f.label attribute, options[:label] %>
        <%= f.text_field attribute, placeholder: options[:placeholder] %>
      </div>
    <% end %>
  
    <%= f.submit 'Confirm changes', class: 'button' %>
  <% end %>
  